#appointmentPage {
    width: fit-content;
    height: fit-content;
}

#appointmentPage>h1 {
    width: fit-content;
    height: fit-content;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}