#profileForm {
    width: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imagePart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}

#image {
    height: 100px;
    width: 100px;
    margin-right: 15px;
    border-radius: 50%;
}

#profileForm .form-row {
    width: 100%;
    margin: 0px;   
    margin-top: 20px; 

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#profileForm .form-row>label {
    margin-right: 20px;
}

#updateButton {
    width: fit-content;
    margin: auto;
    margin-top: 30px;
}

#profileForm .p-multiselect, 
#profileForm .p-dropdown {
    width: 180px;
}

#profileForm .p-toast .p-toast-message.p-toast-message-success {
    background-color: rgba(16, 185, 129, 0.2);
    border: none;
    color: #6ee7b7;
    position: relative;
    left: 420px;
}

#profileForm .p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
#profileForm .p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
    color: #6ee7b7;
}