#loginTexts {
    display: flex;
    flex-direction: row;
    padding: 10%;
    padding-bottom: 5%;
    width: 90%;
    align-items: center;
    justify-content: space-around;
}

#loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    #loginTexts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@keyframes pop {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0);
    }
}

#flags>img {
    height: 80px;
    width: 80px;
    padding: 5px;

    animation: pop 0.5s ease-in 1s 1 normal both;
}

#flags {
    margin-bottom: 50px;
}

#loginPage .p-toast .p-toast-message.p-toast-message-error {
    background-color: rgba(246, 59, 59, 0.2);
    border: none;
    color: #fca5a5;
}

#loginPage .p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
#loginPage .p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
    color: #fca5a5;
}