#searchBar {
    margin: 0px;
    margin-top: 20px;
    margin-right: 25px;
    padding: 0px;
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#searchBar .p-dropdown,
#searchBar .p-inputtext {
    margin-right: 10px;
}