#searchBar {
    margin: 0px;
    margin-top: 20px;
    margin-right: 18px;
    padding: 0px;
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#searchBar .p-dropdown,
#searchBar .p-inputtext {
    margin-right: 18px;
}

@media only screen and (max-width: 900px) {
    #searchBar {
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    #searchBar>* {
        margin: 5px;
    }
}
