#searchbar {
    margin: 0px;
    padding: 5px;
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#searchBtn {
    margin-left: 15px;
}

#inputField {
    margin-left: 20px;
}
