
#homePage {
    margin: 0px;
    padding: 0px;
    width: fit-content;
    height: 100vh;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    height: 100%;
}

#menuList>h1 {
    margin-top: 0px;
    font-size: 40px;
}

#menuList, #menuList>p {
    width: 100%;
    font-size: large;
}

#menuList>p {
    padding: 10px;
    margin: 0px;
}

#homePage .p-card {
    width: 180px;
    height: 100%;
    padding:  0px;
}

#homePage .p-card-body {
    height: 100%;
}

#homePage .p-card-content {
    height: 100%;
    padding: 0px;
}

#currentUser {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
}

#currentUser>img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#currentUser>h2 {
    margin: 10px;
}