#profileForm {
    width: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imagePart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}

#image {
    height: 100px;
    width: 100px;
    margin-right: 15px;
    border-radius: 50%;
}

#profileForm .form-row {
    width: 100%;
    margin: 0px;   
    margin-top: 20px; 

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#profileForm .form-row>label {
    margin-right: 20px;
}

#updateButton {
    width: fit-content;
    margin: auto;
    margin-top: 30px;
}

#profileForm .p-multiselect, 
#profileForm .p-dropdown {
    width: 180px;
}
