#appointmentCard, 
#appointmentCard .p-card-body, 
#appointmentCard .p-card {
    width: 300px;
    height: 300px;
}

#appointmentCard .p-card-content {
    padding: 0px;
}

#info p, #info h3 {
    font-size: larger;
    margin: 0px;
}

#info {    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

#dateTime {
    width: 100%;
    height: fit-content;
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#info .p-button p-component {
    text-align: center;
}

#buttons {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: space-between;
    align-items: center;
}

#desc {
    height: 100px;
}